.container {
    float: left;
    width: 100%;
    padding: 40px 20px;
}

.container > .row {
    float: left;
    width: 100%;
}

.container > .row > .col-12 {
    float: left;
    width: calc(100%);
    background-color: pink;
}

@media (min-width: 576px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .container > .row {
        width: 540px;
        margin: 0 calc(50% - 270px);
    }
}

@media (min-width: 768px) {
    .container > .row {
        width: 720px;
        margin: 0 calc(50% - 360px);
    }
}

@media (min-width: 992px) {
    .container > .row {
        width: 920px;
        margin: 0 calc(50% - 460px);
    }
}

@media (min-width: 1200px) {
    .container > .row {
        width: 1140px;
        margin: 0 calc(50% - 570px);
    }
}
